{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
<div class="d-flex flex-column align-items-center">
  <h3 class="mt-5">{% trans "Редагувати курс" %}</h3>
  <form method="post" action="{% url 'edit_course' course.id %}" class="mt-3 w-50 d-flex flex-column">
    {% csrf_token %}
    
    {{ form.title.label_tag }}
    <input type="text" name="{{ form.title.name }}" class="form-control mb-3" placeholder="{% trans "Назва курсу" %}" value="{{ form.title.value }}">
    
    {{ form.description.label_tag }}
    <textarea name="{{ form.description.name }}" class="form-control mb-3" placeholder="{% trans "Опис курсу" %}">{{ form.description.value }}</textarea>
    
      <button type="submit" class="btn btn-primary">{% trans "Зберегти" %}</button>
  </form>
</div>
{% endblock %}
