
{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h1 class="text-center">{% trans "Змінити пароль" %}</h1>
    <form method="post" class="mt-3 w-50 d-flex flex-column">
        {% csrf_token %}
        <div class="mb-3">
            {{ password_form.old_password.label_tag }}
            <input type="password" name="{{ password_form.old_password.name }}" class="form-control" placeholder="{% trans "Старий пароль" %}">
        </div>
        <div class="mb-3">
            {{ password_form.new_password1.label_tag }}
            <input type="password" name="{{ password_form.new_password1.name }}" class="form-control" placeholder="{% trans "Новий пароль" %}">
        </div>
        <div class="mb-3">
            {{ password_form.new_password2.label_tag }}
            <input type="password" name="{{ password_form.new_password2.name }}" class="form-control" placeholder="{% trans "Підтвердження нового паролю" %}">
        </div>
        <button type="submit" class="btn btn-primary">{% trans "Змінити пароль" %}</button>
    </form>
</div>
{% endblock %}